.gradient {
  background: linear-gradient(
    57deg,
    rgba(255, 0, 140, 1) 0%,
    rgba(255, 183, 0, 1) 100%
  );
}

@keyframes draw {
  0% {
    stroke-dashoffset: 110;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.animate-draw {
  animation: draw 1.6s cubic-bezier(0.78, 0, 0.22, 1) forwards;
}
